.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-element);
  width: 100%;
  height: 80px;
  box-shadow: var(--shadow);
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-weight: 800;
  font-size: 14px;
  color: var(--clr-text);
}

.mode-toggle-container {
  display: flex;
  /* align-items: center; */
  width: 100px;
  justify-content: space-between;
  overflow: visible;
}

.mode-toggle-container:hover {
  cursor: pointer;
}

.mode-toggle-icon {
  height: 1.1rem;
}

.mode-toggle-text {
  font-size: 14px;
  color: var(--clr-text);
  font-weight: 600;
  user-select: none;
}

@media (min-width: 1124px) {
  .header-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
